<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{ message }}
    </div>
    <br>
    <div id="app2">
        <span v-bind:title="message">
            app2. 이 텍스트에 마우스를 올리면 동적으로 바인딩 된 title을 볼 수 있습니당
        </span>
    </div>
    <br>
    <div id="app3">
        app3. console창에 app3.seen = true 를 입력하면 텍스트가 나타나용
        <p v-if="seen">까꿍 조건문이에요</p>
    </div>
    <br>
    <div id="app4">
        <ol>
          <li v-for="todo in todos">
            {{ todo.text }}
          </li>
        </ol>
      </div>

    <script>
        var app = new Vue({
          el: '#app',
          data: {
            message: 'app1. console창에 app.message 를 새로 입력해주면 바뀝니당'
          }
        });

        var app2 = new Vue({
          el: '#app2',
          data: {
            message: '이 페이지는 ' + new Date() + ' 에 로드 되었습니다'
          }
        });

        var app3 = new Vue({
          el: '#app3',
          data: {
            seen: false
          }
        });

        var app4 = new Vue({
          el: '#app4',
          data: {
            todos: [
              { text: '맛있는 밥' },
              { text: '친한 친구' },
              { text: '행복한 하루' }
            ]
          }
        });
    </script>
</body>
</html>